@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
/* font-family: 'Prata', serif; */

@font-face {
    font-family: 'NIXGONM-Vb';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/NIXGONM-Vb.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 닉스곤폰트M */

@font-face {
    font-family: 'NIXGONB-Vb';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/NIXGONB-Vb.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 닉스곤폰트B */


/* header */
header{width: 100%; height: 150px;}
#navi{width: 90%; height: 100%;
      margin: 0 auto; display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 0.13vw solid #fff;}

.bigNav{width: 35%; height: 100%;
        display: flex; justify-content: space-around;
        align-items: center;}
.bigNav li a{font-family: 'NIXGONM-Vb'; font-size: 1.3vw;}

#navi img{width: 20%; cursor: pointer;}


/* slider */
#slider{width: 100%; height: 41vw;}
#slider_box{width: 90%; height: 95%;
            margin: 1% auto; display: flex;
            justify-content: center;
            align-items: center;
            border-top: 0.05vw solid #fff;
            border-bottom: 0.05vw solid #fff;}

#slider_box > img{width: 50%; height: 35vw;}



/* 예매창 */
#reservation{width: 50%; height: 35vw;
             background-color: #060606;
             position: relative;}

form{width: 95%; height: 70%; 
     border: 3px solid #fff;
     position: absolute; top: 50%; left: 0%;
     transform: translateY(-50%);
     border-radius: 1vw; display: flex;
     justify-content: space-around;}


/* 영화 선택 */
#ticket{width: 60%; height: auto;
       border: 0.1vw solid #fff;
       margin: 1.5%; border-radius: 0.5vw;
       display: flex; flex-direction: column;
       justify-content: space-around; align-items: center;}

#ticket p{width: 90%;
          font-family: 'NIXGONM-Vb';
          text-align: center; font-size: 1vw;
          border-top: 0.06vw solid #fff;
          border-bottom: 0.06vw solid #fff;
          padding: 1% 0; letter-spacing: 2vw;
          text-indent: 2vw;}
    
#ticket h3{width: 90%;
           font-family: 'NIXGONM-Vb';
           text-align: center; font-size: 3.2vw;
           background-color: #fff; color: #060606;}

#movie_select{width: 90%;}

#movie_select input[type="radio"]{display: inline-block;
                                  width: 8%; height: 100%;
                                  margin-left: 2%; cursor: pointer;
                                  accent-color: #d82f35;}

#movie_select label{display: inline-block;
                    width: 100%; font-size: 1.2vw;
                    font-family: 'NIXGONM-Vb';
                    border: 0.06vw solid #fff;
                    cursor: pointer;}

#movie_select label:last-of-type{margin-bottom: 3%;}

#movie_select label span{display: inline-block;
                         width: 80%; height: 100%;
                         border-left: 0.06vw solid;
                         padding: 2% 0 2% 3%;}


/* 날짜 선택 */
#day_select{width: 40%; height: auto;
             border: 0.1vw solid #fff;
             border-radius: 0.5vw;
             margin: 1.5%; display: flex;
             flex-direction: column;}

#day_select > h3{width: 90%; height: auto;
                 margin: 1.2% auto 0;
                 font-family: 'NIXGONM-Vb'; font-size: 1.5vw;
                 text-align: center; padding: 2% 0;
                 border-bottom: 0.05vw solid #fff;}

#calendar{width: 90%; margin: 3% 5%;
          font-size: 1.5vw; background-color: #fff;
          border: none; border-radius: 0;
          font-family: 'NIXGONM-Vb'; font-weight: bold;
          text-align: center; padding: 0.3vw 0;
          cursor: pointer;}

#calendar:focus{outline: none;}

/* 달력 디자인 */
.ui-datepicker{width: 14.2vw;
               border: none; background: #060606;}
.ui-widget.ui-widget-content{border: none;}
.ui-datepicker-header{width: 100%; margin-top: 3%;
                      font-family: 'NIXGONM-Vb'; font-size: 1vw;
                      border: none; background: none;
                      border-top: 0.05vw solid #fff;
                      border-bottom: 0.05vw solid #fff;
                      color: #fff; border-radius: 0;}

.ui-datepicker .ui-datepicker-header{width: 100%;
                                     padding-top: 0.01rem;}


.ui-datepicker-table{width: 100%;}

.ui-datepicker-calendar th{width: 14%;
                           font-family: 'NIXGONM-Vb'; color: #fff;}

.ui-icon, .ui-widget-content .ui-icon{display: none;
                                      background: none;}

.ui-datepicker-calendar th span{font-size: 0.8vw;}

.ui-datepicker-calendar td{width: 14%;
                           border: 0.05vw solid #fff;}

.ui-datepicker-week-end{padding: 0;}

.ui-datepicker-calendar td a{padding: 0.4vw 0;
                             font-size: 0.8vw;}

.ui-state-default, 
.ui-widget-content 
.ui-state-default{font-family: 'NIXGONM-Vb'; font-weight: bold;
                  color: #fff; text-align: center;
                  background: none; border: none;}
.ui-state-highlight, 
.ui-widget-content .ui-state-highlight, 
.ui-widget-header .ui-state-highlight{background-color: #fff;
                                      color: #060606;}

.ui-state-active, .ui-widget-content .ui-state-active{color: #fff; border: none;
                                                      background-color: #d82f35;}
.ui-state-hover, .ui-widget-content .ui-state-hover{color: #fff; border: none;
                                                      background-color: #d82f35;}

.ui-state-disabled, .ui-widget-content .ui-state-disabled{width: 14%;}
.ui-state-disabled, .ui-widget-content .ui-state-disabled span{padding: 0.4vw 0;
                                                               font-size: 0.8vw;}


/* 시간 선택 */
#time_select{width: 90%; height: auto;
             margin: 0 auto;}

#time_select h3{font-family: 'NIXGONM-Vb';
                font-size: 1.5vw; text-align: center;
                border: 0.05vw solid #fff;
                padding: 0.3vw 0;}

#time_input{width: 100%; height: auto;
            display: flex; flex-wrap: wrap; 
            justify-content: space-between;
            align-items: center;}

#time_input > label{width: 50%; overflow: hidden;
                    position: relative;
                    font-family: 'NIXGONM-Vb';
                    font-weight: bold; font-size: 1.2vw;
                    text-align: center; padding: 0.3vw 0;
                    border: 0.05vw solid #fff;}

/* #time_input input{opacity: 1; position: absolute;
                  left: -200px;} */

label:hover{background-color: #d82f35;}

.on{background-color: #d82f35;}


/* 인원 수 선택 */
#number_select{width: 90%; height: 1.8vw;
               margin: 3% auto; display: flex;
               justify-content: space-between;
               align-items: center;}
#number_select label{width: 2vw; padding: 0.25vw 0;
                     font-family: 'NIXGONM-Vb';
                     font-weight: bold; font-size: 1.3vw;
                     border: 0.05vw solid #fff;
                     text-align: center;}

#number_select input{width: 8.6vw; height: 1.8vw;
                     border: none; color: #060606;
                     background-color: #fff;
                     text-align: center;
                     font-family: 'NIXGONM-Vb';
                     font-weight: bold; font-size: 1vw;}

#number_select input:focus{outline: none;}



/* 좌석 선택 */
#seat_select{width: 90%; height: 1.5vw;
             margin: 0% auto; display: flex; 
             justify-content: space-between;
             align-items: center; 
             border-top: 0.05vw solid #fff;
             border-bottom: 0.05vw solid #fff;
             padding: 8% 0;}

#seat_select h3{font-family: 'NIXGONM-Vb';
                font-weight: bold; font-size: 1.5vw;}
#seat_select button{width: 3vw; padding: 0.3vw 0 0.2vw 0;
                    font-family: 'NIXGONM-Vb';
                    text-align: center;
                    font-weight: bold; font-size: 1vw;
                    border: 0.05vw solid #fff;
                    background: none; color: #fff;}

#seat_select button:hover{background-color: #d82f35;}


/* 제출 _ 초기화 */
#complete{width: 90%; margin: 3% auto;
          font-family: 'NIXGONM-Vb';
          font-weight: bold; font-size: 1.25vw;
          border: 0.05vw solid #fff;
          color: #fff; background-color: #060606;
          padding: 0.4vw;}

#complete:hover{background-color: #d82f35;}


/* 좌석 선택 popup */
#popup_seat{width: 100%; height: 100%;
            position: fixed; top: 0; left: 0;
            z-index: 2;
            background-color: #060606;
            display: none;}

#popup_seat .close{width: 2.2%; position: absolute;
                   top: 5%; right: 5%;
                   border: 0.05vw solid #fff;
                   background-color: #060606;
                   color: #fff; font-family: 'NIXGONM-Vb';
                   font-weight: bold; font-size: 1.5vw;
                   padding: 0.25vw 0 0.15vw 0;}

#popup_seat .close:hover{background-color: #d82f35;}

#blueprint{width: 80%; height: 85%;
      position: absolute;
      top: 45%; left: 50%;
      transform: translate(-50%, -50%);
      border: 0.05vw solid #fff;}

#screen{width: 100%; margin: 2% auto;
        font-family: 'NIXGONM-Vb';
        font-weight: bold; font-size: 2vw;
        text-align: center; padding: 1vw 0;
        background-color: #fff;
        color: #060606;}

#seat{width: 90%; height: 80%;
      margin: 0 auto; display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;}

.vertical{width: 100%; height: 2vw;
          text-align: center; display: flex;
          justify-content: space-around;
          align-items: center;}

.horizontal{display: flex;
            justify-content: space-around;}

.horizontal_name{width: 4vw; height: 2vw;
                 font-family: 'NIXGONM-Vb';
                 font-weight: bold;
                 font-size: 2vw; text-align: center;}

.vertical > div:nth-of-type(2), 
.vertical > div:last-of-type{width: 10%; height: 2vw;}

.vertical > div:nth-of-type(3){width: 30%; height: 2vw;}

.horizontal label{width: 2vw; height: 2vw;
                  border: 0.05vw solid #fff;
                  overflow: hidden; position: relative;}

.horizontal label input{position: absolute;
                        left: -9999px;}

.select{background-color: #d82f35;}

#button_zip{width: 100%; position: absolute;
            bottom: 5%; left: 0;
            display: flex; justify-content: center;
            align-items: center;}

#button_zip button{width: 10vw; padding: 0.5vw 0;
                   background-color: #060606;
                   border: 0.05vw solid #fff;
                   color: #fff;
                   font-family: 'NIXGONM-Vb';
                   font-weight: bold; font-size: 1.5vw;}

#ok{margin-right: 1%;}
#reset{margin-left: 1%;}

#button_zip button:hover{background-color: #d82f35;}


