@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
/* font-family: 'Prata', serif; */

@font-face {
    font-family: 'NIXGONM-Vb';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/NIXGONM-Vb.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 닉스곤폰트M */

@font-face {
    font-family: 'NIXGONB-Vb';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/NIXGONB-Vb.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 닉스곤폰트B */

@font-face {
      font-family: 'GmarketSansMedium';
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
      font-weight: normal;
      font-style: normal;
  }
/* Gmarket Sans M */


/* header */
header{width: 100%; height: 8vw;}
#navi{width: 90%; height: 100%;
      margin: 0 auto; display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 0.13vw solid #fff;}

.bigNav{width: 35%; height: 100%;
        display: flex; justify-content: space-around;
        align-items: center;}
.bigNav li a{font-family: 'NIXGONM-Vb'; font-size: 1.3vw;
             padding: 0.3vw 1.5vw;
             transition: box-shadow .3s ease-in-out;}

.bigNav li a:hover{box-shadow: inset 200px 0 0 0 #d82f35;}

#navi img{width: 20%; cursor: pointer;}


/* slider */
#slider{width: 100%; height: 41vw;
        border: 0.05vw solid transparent;}
#slider_box{width: 90%; height: 95%;
            margin: 1% auto; display: flex;
            justify-content: center;
            align-items: center;
            border-top: 0.05vw solid #fff;
            border-bottom: 0.05vw solid #fff;}

#slider_box > img{width: 50%; height: 35vw;}



/* 예매창 */
#reservation{width: 50%; height: 35vw;
             background-color: #060606;
             position: relative;}

form{width: 95%; height: 70%;
     position: absolute; top: 50%; left: 0%;
     transform: translateY(-50%);
     display: flex; justify-content: center;
     align-items: center;}


/* 영화 선택 */
#ticket{width: 60%; height: 100%;
        border: 0.15vw solid #fff;
        border-radius: 1vw;
        display: flex; flex-direction: column;
        justify-content: space-around; 
        align-items: center;
        border-right: none;}

#ticket p{width: 90%; height: 1.6vw;
          font-family: 'NIXGONM-Vb';
          text-align: center; font-size: 1vw;
          border-top: 0.06vw solid #fff;
          border-bottom: 0.06vw solid #fff;
          padding: 1% 0; letter-spacing: 2vw;
          text-indent: 2vw;}
    
#ticket h3{width: 90%; height: 3.2vw;
           font-family: 'NIXGONM-Vb';
           text-align: center; font-size: 3.2vw;
           background-color: #fff; color: #060606;}

#movie_select{width: 90%; height: 15.5vw;}

#movie_select input[type="radio"]{display: inline-block;
                                  width: 8%; height: 0.7vw;
                                  margin-left: 2%;
                                  cursor: pointer;
                                  accent-color: #d82f35;}

#movie_select label{display: inline-block; 
                    width: 100%; height: 2.6vw;
                    font-size: 1.2vw;
                    font-family: 'NIXGONM-Vb';
                    border: 0.06vw solid #fff;
                    cursor: pointer;}

#movie_select label:last-of-type{margin-bottom: 3%;}

#movie_select label span{display: inline-block;
                         border-left: 0.06vw solid;
                         padding: 3% 0 2% 3%;
                         font-size: 1.2vw;}


/* 날짜 선택 */
#day_select{width: 40%; height: 100%;
             border: 0.15vw solid #fff;
             border-radius: 1vw;
             margin-left: -0.1%; display: flex;
             flex-direction: column;
             border-left: 0.15vw dashed #fff;}

#day_select > h3{width: 90%; height: 2.7vw;
                 margin: 3% auto 0;
                 font-family: 'NIXGONM-Vb'; font-size: 2vw;
                 text-align: center; padding: 2% 0;
                 border-bottom: 0.05vw solid #fff;}

#calendar{width: 90%; margin: 3% 5%;
          font-size: 1.5vw; background-color: #fff;
          border: none; border-radius: 0;
          font-family: 'NIXGONM-Vb'; font-weight: bold;
          text-align: center; padding: 0.3vw 0;
          cursor: pointer;}

#calendar:focus{outline: none;}

/* 달력 디자인 */
.ui-datepicker{width: 14.2vw;
               border: none; background: #060606;}
.ui-widget.ui-widget-content{border: none;}
.ui-datepicker-header{width: 100%; margin-top: 3%;
                      font-family: 'NIXGONM-Vb'; font-size: 1vw;
                      border: none; background: none;
                      border-top: 0.05vw solid #fff;
                      border-bottom: 0.05vw solid #fff;
                      color: #fff; border-radius: 0;}

.ui-datepicker .ui-datepicker-header{width: 100%;
                                     padding-top: 0.01rem;}


.ui-datepicker-table{width: 100%;}

.ui-datepicker-calendar th{width: 14%;
                           font-family: 'NIXGONM-Vb'; color: #fff;}

.ui-icon, .ui-widget-content .ui-icon{display: none;
                                      background: none;}

.ui-datepicker-calendar th span{font-size: 0.8vw;}

.ui-datepicker-calendar td{width: 14%;
                           border: 0.05vw solid #fff;}

.ui-datepicker-week-end{padding: 0;}

.ui-datepicker-calendar td a{padding: 0.4vw 0;
                             font-size: 0.8vw;}

.ui-state-default, 
.ui-widget-content 
.ui-state-default{font-family: 'NIXGONM-Vb'; font-weight: bold;
                  color: #fff; text-align: center;
                  background: none; border: none;}
.ui-state-highlight, 
.ui-widget-content .ui-state-highlight, 
.ui-widget-header .ui-state-highlight{background-color: #fff;
                                      color: #060606;}

.ui-state-active, .ui-widget-content .ui-state-active{color: #fff; border: none;
                                                      background-color: #d82f35;}
.ui-state-hover, .ui-widget-content .ui-state-hover{color: #fff; border: none;
                                                      background-color: #d82f35;}

.ui-state-disabled, .ui-widget-content .ui-state-disabled{width: 14%;}
.ui-state-disabled, .ui-widget-content .ui-state-disabled span{padding: 0.4vw 0;
                                                               font-size: 0.8vw;}


/* 시간 선택 */
#time_select{width: 90%; height: 8.3vw;
             margin: 0 auto;}

#time_select h3{font-family: 'NIXGONM-Vb';
                font-size: 1.5vw; text-align: center;
                border: 0.05vw solid #fff;
                padding: 0.3vw 0;}

#time_input{width: 100%; height: 6vw;
            display: flex; flex-wrap: wrap; 
            justify-content: space-between;
            align-items: center;}

#time_input > label{width: 50%; height: 2vw;
                    overflow: hidden;
                    position: relative;
                    font-family: 'NIXGONM-Vb';
                    font-weight: bold; font-size: 1.2vw;
                    text-align: center; padding: 0.3vw 0;
                    border: 0.05vw solid #fff;
                    cursor: pointer;}

#time_input input{opacity: 1; position: absolute;
                  left: -200px;}

label:hover{background-color: #d82f35;}

.on{background-color: #d82f35;}


/* 인원 수 선택 */
#number_select{width: 90%; height: 1.8vw;
               margin: 3% auto; display: flex;
               justify-content: space-between;
               align-items: center;}
#number_select label{width: 2.2vw; height: 2vw;
                     padding: 0.3vw;
                     font-family: 'NIXGONM-Vb';
                     font-weight: bold; font-size: 1.3vw;
                     border: 0.05vw solid #fff;
                     text-align: center; cursor: pointer;}

#number_select input{width: 8.6vw; height: 2vw;
                     border: none; color: #060606;
                     background-color: #fff;
                     text-align: center;
                     font-family: 'NIXGONM-Vb';
                     font-weight: bold; font-size: 1vw;}

#number_select input:focus{outline: none;}



/* 좌석 선택 */
#seat_select{width: 90%; height: 1.5vw;
             margin: 0% auto; display: flex; 
             justify-content: space-between;
             align-items: center; 
             border-top: 0.05vw solid #fff;
             border-bottom: 0.05vw solid #fff;
             padding: 8% 0;}

#seat_select h3{font-family: 'NIXGONM-Vb';
                font-weight: bold; font-size: 1.5vw;}
#seat_select button{width: 3vw; height: 1.8vw;
                    padding: 0.3vw 0 0.2vw 0;
                    font-family: 'NIXGONM-Vb';
                    text-align: center;
                    font-weight: bold; font-size: 1vw;
                    border: 0.05vw solid #fff;
                    background: none; color: #fff;}

#seat_select button:hover{background-color: #d82f35;
                          cursor: pointer;}


/* 제출 */
#complete{width: 90%; height: 2.5vw;
          margin: 3% auto;
          font-family: 'NIXGONM-Vb';
          font-weight: bold; font-size: 1.3vw;
          border: 0.05vw solid #fff;
          color: #fff; background-color: #060606;
          padding: 0.4vw 0;}

#complete:hover{background-color: #d82f35;
                cursor: pointer;}


/* 좌석 선택 popup */
#popup_seat{width: 100%; height: 100%;
            position: fixed; top: 0; left: 0;
            z-index: 2;
            background-color: #060606;
            display: none;}

#popup_seat .close{width: 2.2%; position: absolute;
                   top: 5%; right: 5%;
                   border: 0.05vw solid #fff;
                   background-color: #060606;
                   color: #fff; font-family: 'NIXGONM-Vb';
                   font-weight: bold; font-size: 1.5vw;
                   padding: 0.25vw 0 0.15vw 0;}

#popup_seat .close:hover{background-color: #d82f35;
                         cursor: pointer;}

#blueprint{width: 80%; height: 85%;
      position: absolute;
      top: 45%; left: 50%;
      transform: translate(-50%, -50%);
      border: 0.05vw solid #fff;}

#screen{width: 100%; margin: 2% auto;
        font-family: 'NIXGONM-Vb';
        font-weight: bold; font-size: 2vw;
        text-align: center; padding: 1vw 0;
        background-color: #fff;
        color: #060606;}

#seat{width: 90%; height: 80%;
      margin: 0 auto; display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;}

.vertical{width: 100%; height: 2vw;
          text-align: center; display: flex;
          justify-content: space-around;
          align-items: center;}

.horizontal{display: flex;
            justify-content: space-around;}

.horizontal_name{width: 4vw; height: 2vw;
                 font-family: 'NIXGONM-Vb';
                 font-weight: bold;
                 font-size: 2vw; text-align: center;}

.vertical > div:nth-of-type(2), 
.vertical > div:last-of-type{width: 10%; height: 2vw;}

.vertical > div:nth-of-type(3){width: 30%; height: 2vw;}

.horizontal label{width: 2vw; height: 2vw;
                  border: 0.05vw solid #fff;
                  overflow: hidden; position: relative;
                  cursor: pointer;}

.horizontal label input{position: absolute;
                        left: -9999px;}

.select{background-color: #d82f35;}

#button_zip{width: 100%; position: absolute;
            bottom: 5%; left: 0;
            display: flex; justify-content: center;
            align-items: center;}

#button_zip button{width: 10vw; padding: 0.5vw 0;
                   background-color: #060606;
                   border: 0.05vw solid #fff;
                   color: #fff;
                   font-family: 'NIXGONM-Vb';
                   font-weight: bold; font-size: 1.5vw;
                   cursor: pointer;}

#ok{margin-right: 1%;}
#reset{margin-left: 1%;}

#button_zip button:hover{background-color: #d82f35;}



/* 고객 정보 입력 popup */
#personal_info{width: 45vw; height: 40vw;
               position: fixed; top: 50%; left: 50%;
               transform: translate(-50%, -50%);
               background-color: #060606;
               border: 0.05vw solid #fff;
               display: none;}

#personal_info .close{width: 4%; position: absolute;
                      top: 1%; right: 3%;
                      border: 0.05vw solid #fff;
                      background-color: #060606;
                      color: #fff; font-family: 'NIXGONM-Vb';
                      font-weight: bold; font-size: 1vw;
                      padding: 0.25vw 0 0.15vw 0;
                      cursor: pointer;}

#personal_info h3{font-family: 'NIXGONM-Vb';
                  font-size: 2.2vw; text-align: center;
                  padding: 5% 0 2% 0;}

#infomation{width: 100%; height: 28vw;
            display: flex; flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;}

#infomation label{width: 82%; height: 10%;
                  font-family: 'NIXGONM-Vb';
                  font-weight: bold; font-size: 2vw;
                  display: flex; justify-content: flex-start;
                  align-items: center; margin-left: 18%;}
#infomation input[type="text"]{width: 13vw; height: 1.5vw; 
                               padding: 0.9vw 2.5vw;
                               text-align: center; margin-left: 1%;
                               font-family: 'NIXGONM-Vb';
                               font-weight: bold; font-size: 1vw;}
#infomation input[type="password"]{width: 8vw; height: 1.5vw; 
                                   padding: 0.9vw 2.5vw;
                                   text-align: center; margin-left: 1%;
                                   font-family: 'NIXGONM-Vb';
                                   font-weight: bold; font-size: 1vw;}
#infomation input::placeholder{font-family: 'NIXGONM-Vb';
                               font-weight: bold; font-size: 1vw;}

#infomation input:focus{outline: 0.15vw solid #d82f35;}

#infomation label:hover{background-color: #060606;}

#personal_info button{font-family: 'NIXGONM-Vb';
                      font-weight: bold; font-size: 1.5vw;
                      background-color: #060606;
                      border: 0.05vw solid #fff;
                      color: #fff; padding: 0.5vw 1vw;
                      margin: 3% auto 0; display: block;
                      border-radius: 0;}
#personal_info button:hover{background-color: #d82f35;
                            cursor: pointer;}



/* about */
#about{width: 100%; height: 34vw;}
#about_box{width: 90%; height: 34vw;
           margin: 0 auto; position: relative;
           border-top: 0.13vw solid #fff;}
#theater_box{width: 100%; height: 30vw;
             position: absolute; top: 50%; left: 0;
             transform: translateY(-50%);
             border: 0.05vw solid #fff;
             display: flex; 
             justify-content: space-between;
             align-items: center;}

#theater_info{width: 50%; height: 11vw;}

#theater_info h2{font-family: 'NIXGONM-Vb';
                 font-weight: bold; font-size: 3vw;
                 text-align: center;
                 margin-bottom: 0.8vw;}

#theater_info p{font-family: 'NIXGONM-Vb';
                font-size: 1.1vw; text-align: center;
                line-height: 1.6vw; margin-top: 0.8vw;}

#img_box{width: 45%; height: 23vw;
         position: absolute; top: 50%; right: 4%;
         transform: translateY(-50%);
         border: 0.05vw solid #fff;}

#img_box img{width: 85%; position: absolute;
             top: 50%; left: 50%;
             transform: translate(-50%, -50%);}



/* 영화 차트 */
#movie_chart{width: 100%; height: 33vw;}
#movie_box{width: 90%; height: 33vw;
           margin: 0 auto;}
#chart_menu{width: 100%; height: 3.8vw;
            display: flex; margin-top: 2%;}

.movieMenu{width: 50%; height: auto;
           font-family: 'NIXGONM-Vb'; font-size: 1.5vw;
           text-align: center; padding: 1vw 0;
           border: 0.05vw solid #fff;}

.movieMenu:hover{background-color: #d82f35;
                 cursor: pointer;}

#content_fade{width: 100%; height: auto;
              position: relative;}

#order_reservation{width: 100%; height: auto;
                   position: absolute;
                   border: 0.05vw solid #fff;
                   border-top: none;}

.chart_th{width: 100%; height: 10%;
          margin: 0% auto 0; display: flex;
          justify-content: center;
          align-items: center;}

.chart_th > div{font-family: 'NIXGONB-Vb'; 
                font-size: 1.5vw;
                text-align: center; padding: 1vw 0;}

.chart_tr:nth-of-type(even){background-color: #fff;
                            color: #060606;}

.rank{width: 10%;}
.title{width: 50%;}
.review{width: 15%; display: flex;
        justify-content: center; 
        align-items: center;}
.genre{width: 15%;}

.chart_tr{width: 100%; height: 10%;
          margin: 0% auto; display: flex;
          justify-content: center;
          align-items: center;}

.chart_tr > div{font-family: 'NIXGONM-Vb'; 
                font-size: 1.5vw; font-weight: bold;
                text-align: center; padding: 1vw 0;}

img[alt="star"]{width: 1.5vw;}

#scheduled_work{width: 100%; height: 26vw;
                position: absolute; display: flex; 
                justify-content: space-around;
                align-items: center;
                border: 0.05vw solid #fff;
                border-top: none;}

#scheduled_work button{font-family: 'GmarketSansMedium'; 
                       font-size: 3vw; color: #fff;
                       padding: 0.5vw 1.2vw 0 1.2vw;
                       background-color: #1e1e1e;
                       border: 0.05vw solid #fff;
                       border-radius: 0; cursor: pointer;}

#scheduled_work button:hover{background-color: #d82f35;}

#work_slider{width: 56vw; height: 25vw;
             position: relative;
             overflow: hidden; }

#work_list{width: 100vw; height: 18.55vw;
           position: absolute; top: 50%; left: 0;
           transform: translateY(-50%);
           display: flex; justify-content: space-around;
           align-items: center;}

.workImg{width: 12vw; height: 18.55vw;
         position: relative;
         transition: all 0.5s ease;}

.scale{transform: scale(1.3);}

.workImg > .poster{width: 100%; position: absolute;
                   transition: all 0.5s ease;
                   cursor: pointer;}

.workImg:hover .poster{transform: scaleX(-1);
                       opacity: 0; cursor: pointer;}

.overlay{width: 100%; height: 100%;
         position: absolute; z-index: -1;
         text-align: center; opacity: 0;
         background-color: #060606;
         display: flex; flex-direction: column;
         justify-content: center; 
         align-items: center; 
         transform: scaleX(-1);
         transition: all 0.5s ease;
         cursor: pointer;}

.workImg:hover .overlay{transform: scaleX(1);
                        z-index: 0; opacity: 1;}

.overlay h4{font-family: 'NIXGONM-Vb'; 
            font-size: 1.2vw;
            margin-bottom: 5%;}

.overlay p{font-family: 'NIXGONM-Vb'; 
           font-size: 1.1vw;}

.star{width: 100%; height: 2vw;
      display: flex; justify-content: center;
      align-items: center;}

.star > img{width: 1vw;}



/* Notice */
#notice{width: 100%; height: 51.5vw;}
#notice_box{width: 90%; height: 51.5vw;
            margin: 0 auto; border-bottom: 0.05vw solid #fff;}

#notice_box h2{font-family: 'NIXGONM-Vb';
               font-weight: bold; font-size: 4.5vw; 
               padding: 1vw 0 0.5vw;
               border-bottom: 0.05vw solid #fff;}

.notice_transverse{width: 100%; height: 40.5%;
                   display: flex; margin-top: 1.6%;}
.notice_transverse:last-of-type{justify-content: flex-end;}

.space{width: 20vw; height: 20vw;
       border: 0.05vw solid #fff;
       position: relative;
       cursor: pointer;}

.space h3{font-family: 'NIXGONM-Vb';
          position: absolute; font-size: 2.3vw;
          text-align: center; font-weight: bold;
          top: 50%; left: 50%;
          transform: translate(-50%, -50%);}

.black{width: 100%; height: 100%;
       background-color: #1e1e1e;
       position: absolute; z-index: 1;
       transition: all 0.3s ease;}

.space h4{font-family: 'NIXGONM-Vb';
          font-size: 4vw; position: absolute;
          top: 3%; left: 4%;}

.space p{width: 18vw; height: auto;
         text-align: center;
         font-family: 'NIXGONM-Vb';
         font-size: 1.3vw;
         position: absolute;
         top: 50%; left: 50%; 
         transform: translate(-50%, -50%);}

.white{width: 100%; height: 100%;
       background-color: #fff;
       position: absolute; 
       transform: scaleX(-1);
       transition: all 0.3s ease;}

.white p{width: 85%; height: auto;
         text-align: center; font-size: 1.3vw;
         font-family: 'NIXGONM-Vb';
         font-weight: bold; color: #1e1e1e;
         position: absolute;
         top: 50%; left: 50%;
         transform: translate(-50%, -50%);
         cursor: pointer;}

.space:not(.spaceTitle):hover .black{transform: scaleX(-1);
                                     z-index: 0;}
.space:not(.spaceTitle):hover .white{transform: scaleX(1);
                                     z-index: 0;}



/* footer */
footer{width: 100%; height: 14vw;}
#footer_box{width: 90%; height: 8vw;
            margin: 0 auto;}

.footer_length{width: 100%; height: 4vw;
               display: flex;}
.footer_length:first-of-type{border-bottom: 0.05vw solid #fff;}
.footer_length:last-of-type{width: 100%; height: 10vw;}

.footer_length:first-of-type img{height: 100%; margin-left: 1%;}

.transverse{width: 50%; height: 100%;}
.transverse:first-of-type{border-right: 0.05vw solid #fff;}
.transverse:last-of-type{display: flex;}

#percentage1{width: 70%; height: 100%; 
             border-right: 0.05vw solid #fff;
             position: relative;}

#percentage1 span{font-family: 'NIXGONM-Vb';
                  font-weight: bold; font-size: 1.5vw;
                  position: absolute; top: 50%; right: 5%;
                  transform: translateY(-50%);}

#percentage2{width: 30%; height: 100%;}
#percentage2 > div{width: 4vw; height: 4vw;
                   float: left; margin: 0 1.5%;
                   position: relative;}
#percentage2 img{width: 4vw; cursor: pointer;}

#percentage2 span{font-family: 'NIXGONM-Vb'; width: 11vw;
                  padding: 0.7vw 1vw; border-radius: 0.3vw;
                  font-size: 0.9vw; position: absolute; 
                  bottom: 110%; left: 50%;
                  transform: translateX(-50%);
                  z-index: 5; text-align: center;
                  background-color: rgba(6, 6, 6, 0.9);
                  display: none;}

#address{width: 100%; height: 4vw;
        margin: 0.8vw; display: flex;}

#address span{display: inline-block;
              width: 50%; height: 100%;
              font-family: 'NIXGONM-Vb'; 
              font-size: 1vw;}

#address > div{width: 50%; height: 100%;}

#address ul{width: 100%; height: 100%;
            display: flex; justify-content: flex-end;
            align-items: center;}
#address ul li{width: 10%; height: 100%;}

#address ul li a{font-family: 'NIXGONM-Vb';
                 padding: 0.3vw 0.8vw;
                 transition: box-shadow .3s ease-in-out;}

#address ul li a:hover{box-shadow: inset 200px 0 0 0 #d82f35;}

.active{box-shadow: inset 200px 0 0 0 #d82f35;}
 



